/* Reseteo básico de estilos */
body {
    background-color: #eccca4;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Oculta la barra de desplazamiento */
}

header {
    padding: 0 0;
    background-color: transparent;
    text-align: right;
}

header nav ul {
    padding: 0 0;
    list-style: none;
    padding: 0 10px  ;
    text-align: right;
}

header nav ul li {
    padding: 0 0;
    display: inline;
}

header nav ul li a {
    padding: 0 0;
    text-decoration: none;
    padding: 5px;
}

header nav ul li a button {
    padding: 0 0;
    background-color: transparent;
    color: black;
    cursor: pointer;
    border: none;
    font-size: 18px; /* Tamaño de letra 14 */
    font-family: 'Times New Roman', Times, serif; /* Estilo Times New Roman */
}

.two-columns {
    column-count: 2;
    column-gap: 20px; /* Ajusta el espacio entre las columnas según sea necesario */
}

.two-columns li {
    break-inside: avoid;
    font-size: 12px; /* Tamaño de letra 14 */
    font-family: 'Times New Roman', Times, serif; /* Estilo Times New Roman */
    text-decoration: none;
}


/* Estilo para el contenido centrado */
main {
    align-items: center;
    padding: 0 26%;
    border: 1px solid black;
}

.content {
    background-image: url("../Images/fondo1.png"), url("../Images/fondo2.png"); /* Dos imágenes de fondo */
    background-size: cover; /* Que la imagen de fondo ocupe todo el main */
    background-repeat: no-repeat; /* Que la imagen no se repita */
    background-position: center; /* Centrar la imagen */
    border: 1px solid rgb(105, 0, 243);
    width: 100%;
}

.content .sect_1 {
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: 1px solid rgb(236, 4, 4);
    margin: 0 20%;
    min-height: 30vh;
}

.content .sect_2 {
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: 1px solid rgb(236, 4, 4);
    margin: 0 20%;
    min-height: 32vh;
}

.content .sect_3 {
    align-items: center;
    text-align: left;
    background-color: transparent;
    border: 1px solid rgb(60, 10, 124);
    margin: 0 20%;
    min-height: 23.5vh;
}

.content .sect_2 .title {
    text-align: center;
    border: 1px solid rgb(229, 250, 38);
}

.content .sect_2 .imagen {
    align-self: center;
    border: 1px solid green;
}

#imagen_1 {
    border: 1px solid rgb(2, 49, 2);
    width: 49%; /* Ancho fijo de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    text-align: center;
    color: black;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    color: black;
}

audio {
    display: none;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;

}