/* Reseteo básico de estilos */
body {
    background-color: #eccca4;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Oculta la barra de desplazamiento */
}

header {
    padding: 0.1px;
    background-color: #e9c395;
    text-align: right;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añadir sombra al borde */
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    padding: 7px;
}

header nav ul li a button {
    background-color: transparent;
    color: black;
    cursor: pointer;
    border: none;
    font-size: 1.1rem;
    font-family: 'Roboto', Times, serif; /* Estilo Times New Roman */
}

/* Estilo para el contenido centrado */
main {
    padding: 0 26%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.content {
    position: relative; /* Para que los elementos posicionados absolutamente estén relativos a .content */
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; /* Para asegurarse de que el contenido adicional no salga del contenedor */
}

.background-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Asegura que el contenedor abarque todo el contenedor padre */
    z-index: -1; /* Para que el contenedor de las imágenes de fondo esté detrás del contenido */
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para asegurarse de que la imagen cubra completamente el contenedor */
}

.scroll {
    position: relative; /* Para asegurarse de que el contenido esté por encima de las imágenes de fondo */
    z-index: 1; /* Para asegurarse de que esté por encima del contenedor de imágenes de fondo */
}

.scroll .imagen img {
    display: block;
    width: 100%; /* Ajusta el ancho de la imagen al contenedor */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.content .scroll {
    background-color: transparent;
    text-align: center;
    margin: 0 23.8%;
    margin-top: 32%;
    margin-bottom: 6%;
    min-height: 50vh;
    max-height: 50vh; /* Altura máxima para permitir scroll interno */
    overflow: auto; /* Permitir scroll interno */
    padding: 0 10px;
}

.scroll nav ul li {
    text-align: left;
    font-size: 13px;
}

/* Estilo para que el texto de los enlaces sea negro */
.scroll nav ul li a {
    color: black;
    text-decoration: none; /* Quitar subrayado */
}

/* Estilizar el scroll en navegadores WebKit */
.content .scroll::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

.content .scroll::-webkit-scrollbar-track {
    background: #e0e0e0; /* Color del fondo de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados */
}

.content .scroll::-webkit-scrollbar-thumb {
    background-color: #eccca4; /* Color de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados */
    border: 3px solid #e0e0e0; /* Espacio alrededor de la barra de desplazamiento */
}

.imagen img {
    max-width: 85%;
    height: auto;
    display: block;
    margin: 0 auto;
}



/* Media Queries para diseño responsive */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    main {
        padding: 5px;
    }

    .scroll .title h1 {
        font-size: 1.5rem;
    }

    header {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .scroll .title h1 {
        font-size: 1.2rem;
    }
}

.two-columns {
    column-count: 2;
    column-gap: 20px; /* Ajusta el espacio entre las columnas según sea necesario */
    text-align: left;
}

.two-columns li {
    break-inside: avoid;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-decoration: none;
}

.one-columns li {
    break-inside: avoid;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-decoration: none;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    text-align: center;
    color: black;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    color: black;
}

audio {
    display: none;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}



/* Estilos de página partitura. */
.main2 {
    display: flex;
    min-height: 92vh;
}

.content1 {
    position: relative; /* Permite posicionar los elementos hijos relativamente */
    background-image: url("../Images/fondo1.png"), url("../Images/fondo2.png"); /* Dos imágenes de fondo */
    background-size: cover; /* Que la imagen de fondo ocupe todo el main */
    background-repeat: no-repeat; /* Que la imagen no se repita */
    background-position: center; /* Centrar la imagen */
    min-height: 90vh;
    width: 100%;
    margin-top: 2px;
    margin-left: 13px;
    margin-right: 13px;

}

.partitura {
    display: flex; /* Cambia el layout a flexbox */
    width: auto;
    min-height: 80vh;
    padding-top: 6vh;
    padding-bottom: 4vh;
    padding-left: 9vh;
    padding-right: 9vh;
}

.partitura #pdf {
    width: 100%;
}

.content2 {
    background-image: url("../Images/fondo-back.jpg"); /* Dos imágenes de fondo */
    background-size: cover; /* Que la imagen de fondo ocupe todo el main */
    background-repeat: no-repeat; /* Que la imagen no se repita */
    background-position: center; /* Centrar la imagen */
    min-height: 90vh;
    width: 100%;
    
    display: flex; /* Utiliza Flexbox */
    flex-direction: column; /* Coloca los hijos en columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
}


/* Código del piano */
.wrapper {
    width: 85%;
    padding: 10px 6px;
    border-radius: 20px;
    background: #141414;
}
.wrapper header {
    background: #141414;
    border-radius: 20px;
    border: none;
    display: flex;
    color: #B2B2B2;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}
header h2 {
    font-size: 1.6rem;
    color: #e0e0e0;
}
header .column {
    display: flex;
    align-items: center;
}
header span {
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}
header input {
    outline: none;
    border-radius: 6px; /* Añadir borde redondeado */
}
.volume-slider input[type="range"] {
    -webkit-appearance: none; /* Eliminar estilo predeterminado en Chrome/Safari */
    appearance: none; /* Eliminar estilo predeterminado en otros navegadores */
    width: 100%;
    background: transparent;
    cursor: pointer;
    background: #4B4B4B;

}
.volume-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; /* Hacer el thumb redondeado */
    background: #ffffff;
    cursor: pointer;
}
.volume-slider input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%; /* Hacer el thumb redondeado */
    cursor: pointer;
}
.keys-checkbox input {
    height: 30px;
    width: 60px;
    cursor: pointer;
    appearance: none;
    position: relative;
    background: #4B4B4B;
    border-radius: 15px; /* Hacer el contenedor del checkbox redondeado */
    transition: background 0.3s ease;
}

.keys-checkbox input::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%; /* Hacer el círculo del checkbox redondeado */
    background: #8c8c8c;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.keys-checkbox input:checked::before {
    left: 35px;
    background: #fff;
}

.piano-keys {
    display: flex;
    list-style: none;
    margin-top: 10px;
}
.piano-keys .key {
    cursor: pointer;
    user-select: none;
    position: relative;
    text-transform: uppercase;
}
.piano-keys .black {
    z-index: 2;
    width: 30px;
    height: 110px;
    margin: 0 -22px 0 -22px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000);
}
.piano-keys .black.active {
    box-shadow: inset -5px -10px 10px rgba(255,255,255,0.1);
    background:linear-gradient(to bottom, #000, #434343);
}
.piano-keys .white {
    height: 180px;
    width: 60px;
    border-radius: 10px;
    border: 1px solid #000;
    background: linear-gradient(#fff 96%, #eee 4%);
}
.piano-keys .white.active {
    box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
    background:linear-gradient(to bottom, #fff 0%, #eee 100%);
}
.piano-keys .key span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: #A2A2A2;
    font-size: 1.13rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.piano-keys .key.hide span {
    display: none;
}
.piano-keys .black span {
    bottom: 13px;
    color: #888888;
}

@media screen and (max-width: 815px) {
    .wrapper {
        padding: 25px;
    }
    header {
        flex-direction: column;
    }
    header :where(h2, .column) {
        margin-bottom: 13px;
    }
    .volume-slider input {
        max-width: 100px;
    }
    .piano-keys {
        margin-top: 20px;
    }
    .piano-keys .key:where(:nth-child(9), :nth-child(10)) {
        display: none;
    }
    .piano-keys .black {
        height: 100px;
        width: 40px;
        margin: 0 -20px 0 -20px;
    }
    .piano-keys .white {
        height: 180px;
        width: 60px;
    }
}

@media screen and (max-width: 615px) {
    .piano-keys .key:nth-child(13),
    .piano-keys .key:nth-child(14),
    .piano-keys .key:nth-child(15),
    .piano-keys .key:nth-child(16),
    .piano-keys .key :nth-child(17) {
        display: none;
    }
    .piano-keys .white {
        width: 50px;
    }
}