/* Reseteo básico de estilos */
body {
    background-color: #eccca4;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Oculta la barra de desplazamiento */
}

header {
    background-color: transparent;
    text-align: right;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    padding: 7px;
}

header nav ul li a button {
    background-color: transparent;
    color: black;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif; /* Estilo Times New Roman */
}

/* Estilo para el contenido centrado */
main {
    z-index: 2; /* Asegura que el contenido esté por encima del PDF */
    padding: 0 26%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.content {
    background-image: url("../Images/fondo1.png"), url("../Images/fondo2.png"); /* Dos imágenes de fondo */
    background-size: cover; /* Que la imagen de fondo ocupe todo el main */
    background-repeat: no-repeat; /* Que la imagen no se repita */
    background-position: center; /* Centrar la imagen */
    border: 0.1px solid transparent;
    width: 100%;

    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

.content .scroll {
    background-color: transparent;
    text-align: center;
    margin: 0 23.8%;
    margin-top: 32%;
    margin-bottom: 6%;
    min-height: 50vh;
    max-height: 50vh; /* Altura máxima para permitir scroll interno */
    overflow: auto; /* Permitir scroll interno */
    padding: 0 10px;
}

.scroll nav ul li {
    text-align: left;
    font-size: 13px;
}

/* Estilo para que el texto de los enlaces sea negro */
.scroll nav ul li a {
    color: black;
}

.imagen img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.imagen #imagen_1 {
    max-width: 65%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Media Queries para diseño responsive */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    main {
        padding: 5px;
    }

    .scroll .title h1 {
        font-size: 1.5rem;
    }

    header {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .scroll .title h1 {
        font-size: 1.2rem;
    }
}

.two-columns {
    column-count: 2;
    column-gap: 20px; /* Ajusta el espacio entre las columnas según sea necesario */
    text-align: left;
}

.two-columns li {
    break-inside: avoid;
    font-size: 14px; /* Tamaño de letra 14 */
    font-family: 'Times New Roman', Times, serif; /* Estilo Times New Roman */
    text-decoration: none;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    text-align: center;
    color: black;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    color: black;
}

audio {
    display: none;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}



/* Estilos de página partitura. */
.main2 {
    padding: 0 21%;
    display: flex;
    min-height: 92vh;
}

.content2 {
    background-image: url("../Images/2.png"), url("../Images/1.png"); /* Dos imágenes de fondo */
    background-size: cover; /* Que la imagen de fondo ocupe todo el main */
    background-repeat: no-repeat; /* Que la imagen no se repita */
    background-position: center; /* Centrar la imagen */
    width: 100%;
    max-width: 1200px;
}

.partitura {
    display: flex; /* Cambia el layout a flexbox */
    margin-top: 33%;
    margin-left: 25%;
    margin-right: 25%;
}

#pdf {
    min-height: 50vh;
    width: 100%;
}


/* Estilizar el scroll en navegadores WebKit */
.content .scroll::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

.content .scroll::-webkit-scrollbar-track {
    background: #e0e0e0; /* Color del fondo de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados */
}

.content .scroll::-webkit-scrollbar-thumb {
    background-color: #eccca4; /* Color de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados */
    border: 3px solid #e0e0e0; /* Espacio alrededor de la barra de desplazamiento */
}
